body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color:#2E2F42;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.hero {
   background-color: #2E2F42;
   color: #FFFFFF;
}

.button {
    background-color: #404BBF;
    color: #FFFFFF;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04em;
}

h2, h3 {
    color: #2E2F42;
}

.link.logo {
    color: #4D5AE5;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.logo-light {
    color: #F4F4FD;
}

.logo-dark {
    color: #2E2F42;
}

.footer {
    color: #F4F4FD;
}


p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;                   
    font-size: 18px;                    
    line-height: 1.17;                  
    letter-spacing: 0.03em;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}